[Unit]
Description=Mi Band Controller
After=bluetooth.target network.target
Wants=bluetooth.target

[Service]
Type=simple
User=tatum
WorkingDirectory=/home/tatum/Desktop/XiaomiAstrobox
ExecStart=/home/tatum/Desktop/XiaomiAstrobox/XiaomiAstroBoxCSharp
Restart=always
RestartSec=10
Environment=RUST_LOG=info
SupplementaryGroups=bluetooth

[Install]
WantedBy=multi-user.target
